    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    
    .navBar {
        /* background-color: rgba(51, 104, 51, 0.719) */
        border-bottom: 3px solid green;
    }
    
    .navUl {
        display: flex;
        padding: 15px;
    }
    
    .navUl li {
        padding: 0px 10px;
        list-style: none;
    }
    
    .navUl a {
        text-decoration: none;
        color: green;
    }
    
    .navUl a:hover {
        color: #7c96559a;
        transition: ease;
    }
    /* Home Page */
    
    .home {
        display: grid;
        grid-template-columns: 70% 30%;
        grid-row-gap: 0vw;
    }
    
    .articals {
        /* width: 50%; */
        margin: 5px;
        overflow-y: auto;
        height: 100vh;
    }
    
    .artical-title {
        padding: 10px;
        color: green;
    }
    
    .author-name {
        margin: 5px;
        color: #7c96559a;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: italic;
    }
    
    .artical-img-div {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    
    .artical-img-div i {
        padding: 5px;
        font-family: cursive;
        border-bottom: 1px solid rgb(58, 61, 52);
        margin-top: 5px
    }
    
    .artical-img {
        width: 50vw;
        padding-right: 5px;
    }
    
    .title-div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .artical {
        margin: 10px;
        padding: 10px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    .title-below {
        width: 20vw;
        position: relative;
    }
    
    aside {
        margin-top: 5px;
        margin-right: 5px;
    }
    
    .homeOl {
        margin-left: 25px;
        margin-top: 29px;
    }
    
    .homeOl li {
        background-color: #7c96559a;
        padding: 10px;
        margin-top: 5px;
        border-radius: 5px;
    }
    
    .homeOl li a {
        text-decoration: none;
        font-style: initial;
        font-weight: bold;
        color: green;
    }